* {
    font-family: roboto;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;


}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;

    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }


}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav .logo {

    font-size: 24px;
    color: white;
}

hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    h1 {
        font-size: 48px;
        font-weight: 900;
        width: 50%;
    }

    p {
        font-size: 18px;
        color: white;
        margin-top: 10px;
        width: 50%;
    }

    button {
        outline: none;
        margin-top: 5px;
        color: white;
        background-color: #3882f6;
        border-radius: 5px;
        height: 30px;
        width: 100px;

    }

    .placeholder {
        width: 50%;
        background-color: #60686c;
        padding: 100px;
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: white;
            font-size: 16px;
            height: 100px;
            width: 100px;



        }
    }



}