header {
    background-color: #1f2937;
    font-family: roboto;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.links {
    display: flex;
    justify-content: flex-end;

}